.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
  margin: 8px 0px;
}
.item {
  color: #eee;
  width: 40%;
  padding: 8px;
  font-size: 16px;
}
.item:nth-child(2) {
  width: 5%;
}
.space-info {
  color: rgba(255, 255, 255, 0.7);
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 40px 20px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
